<html>
    <head>
<title>
    <%= title %>
</title>
    </head>
    <body>
        <h1>codeTalk <%=title%> </h1>
        <form>
            <input type="text">
        </form>
    </body>
</html>